<nav>
	<ol class="main-content">
		<li><a href="{{ site.baseurl }}">home</a>
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
{% for crumb in crumbs offset: 1 %}
	{% if forloop.last %}
		<li>{{ page.breadcrumb | page.title }}
  	{% else %}
		<li><a href="{{ site.baseurl }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' }}</a>
	{% endif %}
{% endfor %}
	</ol>
	<div style="float:right;">
		{% include search.svg.html %}
	</div>
</nav>
