---
---

@import "{{ site.theme }}";

/*! Colors.css 2.0.7 | Ubuntu Palette | MIT License | https://github.com/eustasy/Colors.css */
:root{--ubuntu-orange:#e95420;--ubuntu-white:#ffffff;--ubuntu-black:#000000;--ubuntu-canonical-aubergine:#772953;--ubuntu-light-aubergine:#77216f;--ubuntu-mid-aubergine:#5e2750;--ubuntu-dark-aubergine:#2c001e;--ubuntu-warm-grey:#aea79f;--ubuntu-cool-grey:#333333;--ubuntu-text-grey:#111111;--ubuntu-orange-100:#e95420;--ubuntu-orange-90:#eb6536;--ubuntu-orange-80:#ed764d;--ubuntu-orange-70:#f08763;--ubuntu-orange-60:#f29879;--ubuntu-orange-50:#f4aa90;--ubuntu-orange-45:#f5b29b;--ubuntu-orange-40:#f6bba6;--ubuntu-orange-35:#f7c3b1;--ubuntu-orange-30:#f8ccbc;--ubuntu-orange-25:#fad4c7;--ubuntu-orange-20:#fbddd2;--ubuntu-orange-15:#fce5de;--ubuntu-orange-10:#fdeee9;--ubuntu-canonical-aubergine-100:#772953;--ubuntu-canonical-aubergine-90:#843e64;--ubuntu-canonical-aubergine-80:#925375;--ubuntu-canonical-aubergine-70:#9f6986;--ubuntu-canonical-aubergine-60:#ad7e97;--ubuntu-canonical-aubergine-50:#bb94a9;--ubuntu-canonical-aubergine-45:#c19eb1;--ubuntu-canonical-aubergine-40:#c8a9ba;--ubuntu-canonical-aubergine-35:#cfb4c2;--ubuntu-canonical-aubergine-30:#d6becb;--ubuntu-canonical-aubergine-25:#ddc9d4;--ubuntu-canonical-aubergine-20:#e3d4dc;--ubuntu-canonical-aubergine-15:#eadee5;--ubuntu-canonical-aubergine-10:#f1e9ed;--ubuntu-light-aubergine-100:#77216f;--ubuntu-light-aubergine-90:#84377d;--ubuntu-light-aubergine-80:#924d8b;--ubuntu-light-aubergine-70:#9f639a;--ubuntu-light-aubergine-60:#ad79a8;--ubuntu-light-aubergine-50:#bb90b7;--ubuntu-light-aubergine-45:#c19bbe;--ubuntu-light-aubergine-40:#c8a6c5;--ubuntu-light-aubergine-35:#cfb1cc;--ubuntu-light-aubergine-30:#d6bcd3;--ubuntu-light-aubergine-25:#ddc7db;--ubuntu-light-aubergine-20:#e3d2e2;--ubuntu-light-aubergine-15:#eadde9;--ubuntu-light-aubergine-10:#f1e8f0;--ubuntu-mid-aubergine-100:#5e2750;--ubuntu-mid-aubergine-90:#6e3c61;--ubuntu-mid-aubergine-80:#7e5273;--ubuntu-mid-aubergine-70:#8e6784;--ubuntu-mid-aubergine-60:#9e7d96;--ubuntu-mid-aubergine-50:#ae93a7;--ubuntu-mid-aubergine-45:#b69db0;--ubuntu-mid-aubergine-40:#bea8b9;--ubuntu-mid-aubergine-35:#c6b3c1;--ubuntu-mid-aubergine-30:#cebeca;--ubuntu-mid-aubergine-25:#d6c9d3;--ubuntu-mid-aubergine-20:#ded3dc;--ubuntu-mid-aubergine-15:#e6dee4;--ubuntu-mid-aubergine-10:#eee9ed;--ubuntu-dark-aubergine-100:#2c001e;--ubuntu-dark-aubergine-90:#411934;--ubuntu-dark-aubergine-80:#56334b;--ubuntu-dark-aubergine-70:#6b4c61;--ubuntu-dark-aubergine-60:#806678;--ubuntu-dark-aubergine-50:#957f8e;--ubuntu-dark-aubergine-45:#a08c99;--ubuntu-dark-aubergine-40:#aa99a5;--ubuntu-dark-aubergine-35:#b5a5b0;--ubuntu-dark-aubergine-30:#bfb2bb;--ubuntu-dark-aubergine-25:#cabfc6;--ubuntu-dark-aubergine-20:#d4ccd2;--ubuntu-dark-aubergine-15:#dfd8dd;--ubuntu-dark-aubergine-10:#e9e5e8;--ubuntu-warm-grey-100:#aea79f;--ubuntu-warm-grey-90:#b6afa8;--ubuntu-warm-grey-80:#beb8b2;--ubuntu-warm-grey-70:#c6c1bb;--ubuntu-warm-grey-60:#cecac5;--ubuntu-warm-grey-50:#d6d3cf;--ubuntu-warm-grey-45:#dad7d3;--ubuntu-warm-grey-40:#dedbd8;--ubuntu-warm-grey-35:#e2e0dd;--ubuntu-warm-grey-30:#e6e4e2;--ubuntu-warm-grey-25:#eae9e7;--ubuntu-warm-grey-20:#eeedeb;--ubuntu-warm-grey-15:#f2f1f0;--ubuntu-warm-grey-10:#f6f6f5;}
/*! Colors.css 2.0.7 | eustasy Palette | MIT License | https://github.com/eustasy/Colors.css */
:root{--eustasy-dark-text:#212121;--eustasy-light-text:#fefefe;--eustasy-light-background:#fefefe;--eustasy-medium-background:#dedede;--eustasy-dark-background:#212121;--eustasy-error:#f44336;--eustasy-error-text:#b71c1c;--eustasy-warning:#ff9800;--eustasy-warning-text:#e65100;--eustasy-warning-2:#ffeb3b;--eustasy-success:#4caf50;--eustasy-success-text:#1b5e20;--eustasy-information:#2196f3;--eustasy-information-text:#0d47a1;}

body {
	color: #333;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: var(--ubuntu-orange);
    background-image: linear-gradient(120deg, var(--ubuntu-canonical-aubergine), var(--ubuntu-orange));
}


nav {
	background: var(--ubuntu-warm-grey-10);
	border-bottom: 1px solid var(--ubuntu-warm-grey-20);
	border-top: 1px solid var(--ubuntu-warm-grey-20);
}
nav ol.main-content {
	list-style-type: none;
    padding-top: 0;
    padding-bottom: 0;
}
nav ol.main-content li {
    display: inline-block;
	padding: 0.5rem;
}
nav ol.main-content li:first-child {
    padding-left: 0;
}
nav ol.main-content li:before {
    content: "\\\2003";
    display: inline-block;
    color: var(--ubuntu-warm-grey-50);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: var(--ubuntu-canonical-aubergine);
}
.main-content blockquote {
    color: var(--ubuntu-warm-grey);
    border-left: 0.3rem solid var(--ubuntu-warm-grey-10);
}

a {
    color: var(--ubuntu-orange);
}

.btn {
	font-weight: bold;
}
.btn.download, .btn.download:hover  {
	color: var(--ubuntu-white);
	background: var(--ubuntu-orange);
	border: 1px solid #cc3703;
	margin: 0 auto;
}
.btn.download.magnet, .btn.download.magnet:hover  {
	background: var(--eustasy-error-text);
}

.chart__bar--orange {
	fill: var(--ubuntu-orange);
	stroke: var(--ubuntu-orange);
	stroke-width: 1px;
}
.chart__bar--orange-light {
	fill: var(--ubuntu-orange-20);
	stroke: var(--ubuntu-orange);
	stroke-width: 1px;
}
.chart__bar--aubergine {
	fill: var(--ubuntu-canonical-aubergine);
	stroke: var(--ubuntu-canonical-aubergine);
	stroke-width: 1px;
}
.chart__bar--grey {
	fill: var(--ubuntu-warm-grey);
	stroke: var(--ubuntu-warm-grey);
	stroke-width: 1px;
}
.chart__label--bold {
	font-weight: bold;
}
.x.axis line {
    shape-rendering: crispEdges;
    stroke: var(--ubuntu-warm-grey-50);
    stroke-dasharray: 3 2;
}

.site-footer {
    border-top: 1px solid var(--ubuntu-warm-grey-20);
}
